.helpBox {
  background-color: #9fb186;
  text-align: center;
  margin: 2em;
  color: #2c4f40;
  box-shadow: 1px 1px 2px #2f5b3e;
  display: block;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-basis: initial;
}

.heading {
  font-size: 1.5em;
  height: auto;
  background-color: inherit;
  margin: 12px 0 0 0;
}

.links {
  flex-direction: row;
  display: flex;
  flex: 0 0 100%;
  justify-content: space-around;
  padding: 3em;
  margin: 1em;
  background-color: #4b8253;
  box-shadow: 2px 2px 3px #2f5b3e;
  text-decoration: none;
  color: #dad7cc;
  text-shadow: 2px 2px 3px #0f2c20;
  font-size: 1em;
  border-radius: 2%;
  max-width: 50px;
}

a:link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #dad7cc;
}

a:visited {
  color: #dad7cc;
}

a:hover {
  color: #bab7ab;
}

.resourceWrapper {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: center;
}

@media only screen and (max-width: 486px) {
  .resourceWrapper {
    justify-content: flex-start;
  }
}