.infoBlockSection {
    position: relative;
    width: 100%;
    height: 100vh; /* Make the container take up the entire viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .infoBlockSection {
        margin-top: 200px;
    }
}

@media only screen and (max-width: 765px) {
    .infoBlockSection {
        margin-top: 500px;
    }
}
