:root {
    --info-block-text-wrapper-padding: 0 20px;
    --info-block-text-wrapper-font-size: 22px;
    --info-block-image-height: 150px;
    --info-block-tab-height: 150px;
}

.mainWrapper {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.textWrapper {
    position: relative;
    min-height: 200px;
    height: auto;
    display: flex;
    align-items: center;
    padding: var(--info-block-text-wrapper-padding);
}

.tab {
    min-width: 8px;
    height: var(--info-block-tab-height);
    background-color: #9fb186;
    display: flex;
    align-self: center;
    box-shadow: -6px 3px 8px -3px #000000;

}

.image {
    width: auto;
    height: var(--info-block-image-height);
}

.imageWrapper {
    display: flex;
    align-self: center;
    height: auto;
}

.wrapper {
    position: relative;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
}

.textBlock {
    margin-bottom: 25px;
    font-size: var(--info-block-text-wrapper-font-size);
}

@media only screen and (max-width: 765px) {
    :root {
        --info-block-text-wrapper-padding: 0px;
        --info-block-text-wrapper-font-size: 16px;
        --info-block-image-height: 120px;
        --info-block-tab-height: 120px;
    }

    .textBlock {
        padding: 10px;
    }

}


@media only screen and (max-width: 486px) {
    :root {
        --info-block-tab-height: 400px;
        --info-block-image-height: 200px;
    }

    .wrapper {
        flex-direction: column;
        padding: 0 25px;
    }

    .mainWrapper {
        flex-direction: row;
        padding: 50px 25px;
        justify-content: center;
        align-items: center;
    }

    .textWrapper {
        min-height: 0px;
    }
}