.header {
    background-image: linear-gradient(#2F5B3E, #20382E);
    text-align: center;
    padding: 0.5em 0em 0.5em 0em;
    color: inherit;
    color: #DAD7CC;
    font-weight: bold;
    text-decoration: none;
}

.homelink {
    text-decoration: none;
    color: #DAD7CC;
}