.feedbackHeader {
    background-image: linear-gradient(#4b8253, #2f5b3e);
    box-shadow: 2px 2px 3px #2f5b3e;
    text-align: center;
    margin: 2em;
    padding: 0.3em 0em 0.3em 0em;
    width: 100%;
}

.feedbacklink {
    text-decoration: none;
    color: #dad7cc;
}
