@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

.feedback-section {
    background-color: #9FB186;
    box-shadow: 1px 1px 2px #2F5B3E;
    color: #0F2C20;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2em 15em;
    padding-bottom: 3em;
    font-size: 1.5em;
    min-width: 22em;
    text-align: center;
    border-radius: 2%;
    font-family: 'Quicksand', sans-serif;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px 3px #0F2C20;
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 2px #0F2C20;
}

first-inputs {
    text-align: left;
    justify-content: left;
}

.input-box{
    width: 25em; 
    max-width: 25em;
    min-width: 25em;
    background-color: #DAD7CC;
}

.ratings {
    display: inline;
    width: 14em;
    /* background-color: black;  */
    
}

.rating-emojis {
    display: flex;
    justify-content:space-between;
}

.rating-inputs {
    display: flex;
    justify-content:space-evenly;
}

.submit-buttons {
    background-color: #2F5B3E;
    width: 7em;
    height: 2em;
    margin-top: 2em;
    font-size: 1em;
    border-radius: 5%;
}