:root {
    --call-to-action-first-text-font-size: 70px;
    --call-to-action-text-font-size: 50px;
    --call-to-action-image-height: 350px;
    --call-to-action-text-wrapper-padding: 0 100px 0;
    --call-to-action-wrapper-padding: 0 100px 0;
}

.wrapper {
    position: absolute;
    top: 600px;
    height: 350px;
    display: flex;
    padding: var(--call-to-action-wrapper-padding);
}

.textWrapper {
    position: relative;
    display: flex;
    height: 350px;
    max-width: 800px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: var(--call-to-action-text-wrapper-padding);
}

.imageWrapper {
    display: flex;
    justify-content: center;
    justify-self: center;
}

.image {
    border-radius: 200px;
    box-shadow: 1px 1px 2px #121f14;
    height: var(--call-to-action-image-height);
    width: auto;
}

.text {
    font-size: var(--call-to-action-text-font-size);
    color: #121f14;
}

.text:first-child {
    font-size: var(--call-to-action-first-text-font-size);
    display: inline-block;
    padding: 12px 24px;
    background-color: #9fb186;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

@media only screen and (max-width: 1200px) {
    :root {
        --call-to-action-first-text-font-size: 50px;
        --call-to-action-text-font-size: 30px;
        --call-to-action-image-height: 250px;
        --call-to-action-text-wrapper-padding: 0 50px 0;
        --call-to-action-wrapper-padding: 0 50px 0;
    }
}

@media only screen and (max-width: 765px) {
    :root {
        --call-to-action-first-text-font-size: 30px;
        --call-to-action-text-font-size: 20px;
        --call-to-action-image-height: 200px;
        --call-to-action-text-wrapper-padding: 0;
    }

    .image {
        display: none;
    }

    .text {
        text-align: center;
    }
}
