:root {
    --call-to-action-first-text-font-size: 40px;
    --call-to-action-text-font-size: 30px;
    --call-to-action-image-height: 350px;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 350px;
    margin: 40px auto 0;
    background-color: #9fb186;
    background-image: linear-gradient(#4b8253, #2f5b3e);
    box-shadow: 1px 1px 2px #121f14;
    display: flex;
    justify-content: center;
    margin-right: 200px;
}

.textWrapper {
    position: relative;
    display: flex;
    height: 350px;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-left: auto;
}

.image {
    border-radius: 200px;
    box-shadow: 1px 1px 2px #121f14;
    height: var(--call-to-action-image-height);
    width: auto;
}

.text {
    font-size: var(--call-to-action-text-font-size);
    color: #121f14;
}

.text:first-child {
    font-size: var(--call-to-action-first-text-font-size);
    color: #dad7cc;
}

@media only screen and (max-width: 765px) {
    :root {
        --call-to-action-first-text-font-size: 30px;
        --call-to-action-text-font-size: 20px;
        --call-to-action-image-height: 200px;
    }

    .image {
        display: none;
    }

    .text {
        text-align: center;
    }
}