.inputBox {
    width: 250px;
    margin: 10px 0;
    padding: 10px;
    background-color: #fafafa;
    border: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    transition: 0.3s box-shadow;
    margin-top: 45px;
}

.dropdownSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
