.header {
    background-image: linear-gradient(#2f5b3e, #20382e);
    text-align: center;
    padding: 0.5em 0em 0.5em 0em;
    color: inherit;
    color: #dad7cc;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
}

.homelink {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #dad7cc;
    margin-top: 30px;
}

.navigationLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.navigationLink {
    text-decoration: none;
}

.navigationText {
    margin-left: 16px;
    font-size: 26px;
}
