.input {
    width: 250px;
    margin-top: 50px;
    padding: 10px;
    background-color: #fafafa;
    border: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    transition: 0.3s box-shadow;
    resize: vertical;
    height: 17px;
    max-height: 150px;
    min-height: 17px;
}
