.feedback-section {
    background-color: #9FB186;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2em 15em;
    padding-bottom: 3em;
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}
.input-box{
    width: 25em; 
    max-width: 25em;
}

.ratings {
    display: inline;
    width: 14em;
    /* background-color: black;  */
    
}

.rating-emojis {
    display: flex;
    justify-content:space-between;
}

.rating-inputs {
    display: flex;
    justify-content:space-evenly

}